
api/dist
api/node_modules
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*

.DS_Store

api/coverage
api/.nyc_output

.vscode/*

api/.env
api/.env.*
.docker
api/build 